
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai3</title>
</head>
<body>
    <table border="1">
        <tr>
            <td colspan="5">THÔNG TIN SINH VIÊN</td>
        </tr>
        <tr>
            <td rowspan="5">
                <img src="https://png.pngtree.com/element_our/20200702/ourmid/pngtree-character-avatar-icon-design-image_2292859.jpg" style="max-height:800" width="240" />
            </td>
        </tr>
        <tr>
            <td>Họ và tên</td>
            <td colspan="3"><b>Nguyễn Ngọc Bích Châu</b></td>
        </tr>
        <tr>
            <td>Mã số sinh viên</td>
            <td><b>23dh114228</b></td>
            <td>Giới tính</td>
            <td><b>Nữ</b></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><b>changuyen@gmail.com</b></td>
            <td>Số điện thoại</td>
            <td><b>0396.....</b></td>
        </tr>
        <tr>
            <td>Sở thích</td>
            <td colspan="3"><b>Nghe nhạc, viết văn, làm đồ handmade,...</b></td>
        </tr>
    </table>
</body>
</html>
