
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai4</title>
</head>
<body>
    <table border="0">
        <tr>
            <td rowspan="5">
                <img src="https://64.media.tumblr.com/fa5c7b915bbc09afc408cd0e18055235/504e439a2e2d545d-9a/s640x960/209d8e4052ace4f2c826f607418fe4a6be741f52.jpg" style="max-height:800" width="250" />
            </td>
        </tr>
        <tr>
            <td rowspan="5">
                <h2><b>Vetibulum ullamcorper ut leo quis</b></h2><pre>Venean facilisis lectus ante, ut rutrum eros convallis et.
Vestibulum ullamcorper ut leo quis tristique. Donec in erat commodo, pharetra purus ac,
consectetur lacus. Suspendisse odio sapien, egestas at ex sit amet, molestie sagittis est.

In id purus imperdiet nisi accumsan scelerisque. Donec nec justo sed enim dapibus
rhoncus.Morbi sed elit vitae metus ullamcorper efficitur

Fusce aliquam magna id ipsum ultricies interdum. Maecenas nibh risus,</pre><br />

                <a href="#" style="padding: 10px 20px; background-color:white; color: black; text-decoration: none; border:2px solid black;">DETAIL</a>


            </td>

</body>
</html>
